<launch>
    <node name="curb_detector" pkg="curb_detection" type="curb_detector" output="screen" />
    <node name="fit_model" pkg="curb_detection" type="fit_model.py" output="screen"/>
    <param name="input_topic" type="string" value="/left_os1/os1_cloud_node/points" />
    <param name="point_number" type="int" value="512" />
    <param name="channel_number" type="int" value="64" />
    <param name="frame_id" type="string" value="/left_os1/os1_lidar" />
    <node pkg="rviz" type="rviz" name="rvizstart"  args="-d $(find curb_detection)/rviz_views/config.rviz"/>
    <node name="rqt_conf_gui" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>
</launch>